.addButton {
    margin-left: 10px;
    padding-top: 1.5px;
    padding-bottom: 0;
}

.root {
    list-style: none;
    text-align: center;
}

.listPosition {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    position: relative;
    width: 280px;
    border: 1px cornflowerblue solid;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    word-wrap: break-word;
    margin-left: 10px;
}

.text {
    margin-top: 15px;
}

.button {
    height: 28px;
    margin-left: 10px;
    padding: 0 6px;
}

.isDone {
    background-color: green;
    color: white;
}




